<html>
 <body>
   <H1>Welcome <%= user.name %>!</H1>
   <hr/>
   <p>You logged in through <b><%= user.type %></b>, user ID is <%= user.id %></p>
 
  <p><a href='/logout'>Logout</a></p>
  </body>
</html>