<html>
    <body>
        <form action="/create" method="POST" enctype="multipart/form-data">
            Booking ID: <input name="bookingid"><br>
            Mobile: <input name="mobile"  /><br>
            <input type="file" name="filetoupload"><br>
            <input type="submit" value="create">  
        </form>
    </body>
</html>
