<html>
    <body>
        <H1>Welcome, <%= username %></H1>
        <H2>Bookings (<%= nBookings %>)</H2>
        <ul>
            <% for (var b of bookings) { %>
            <li>Booking ID: <a href="/details?_id=<%= b._id %>"><%= b.bookingid %></a></li>
            <% } %>
        </ul>
        <a href='/create'>Create a New Booking</a>
    </body>
</html>
