<html>
    <body>
		<H1>Welcome, <%= user.name %></H1>
		<hr/>
		<p>You logged in through <b><%= user.type %></b>, user ID is <%= user.id %></p>
        <form action="/create" method="POST" enctype="multipart/form-data">
            Booking ID: <input name="bookingid"><br>
            Mobile: <input name="mobile"  /><br>
            <input type="file" name="filetoupload"><br>
            <input type="submit" value="create">  
        </form>
    </body>
</html>
