<html>
  <body>
    <h3>Principal: <%= result.principal %></h3>
    <h3>Rate: <%= result.rate %></h3>
    <h3>Time: <%= result.time %></h3>
    <h3>Interest: <%= result.interest %></h3>    
  </body>
</html>