<HTML>

<BODY>

  <head>
    <title>Cafes</title>
  </head>
  <% if (c.length > 0) { %>
  <table>
    <tr>
      <th>Name</th>
      <th>Address</th>
      <th>No. Seats</th>
    </tr>
    <% for (var i = 0; i < c.length; i++) { %>
    <tr>
      <td><%= c[i].name %></td>
      <td><%= c[i].address %></td>
      <td><%= c[i].seats %></td>
    </tr>
    <% } %>
  </table>
  <% } else { %>
  <h1>Nothing to Show!</h1>
  <% } %>
</BODY>

</HTML>